{% from 'bootstrap/utils.html' import render_static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>在线sql注入</title>
    {{ bootstrap.load_css() }}
    {{ render_static('css', 'css/signin.css') }}
    {{ render_static('css', 'css/zpageNav.css') }}
</head>
<body>


<div class="container" id="vueapp">
    <div class="row mx-auto w-100">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">新增</button>
{#            <button type="button" class="btn btn-outline-warning btn-sm" @click="delRows">删除</button>#}
    </div>
    <div class="modal fade bd-example-modal-lg" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">请求参数</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form >
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="url">TEST URL</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="test_url"  placeholder="请求参数" v-model="newRow.url" required>
                                <p style="color:red" v-if="urlRequired=='true'">url不正确</p>
                                <p style="color:red" v-else-if="errorMessage.url!='' ">{[errorMessage.url]}</p>

                            </div>

{#                            {[newRow.url]}#}
                        </div>
                        <div class="form-group row">

                            <label for="method" class="col-sm-2 col-form-label">请求方法</label>
                            <div class="col-sm-10 ">
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="get_option" value="GET" v-model="newRow.method">
                                  <label class="form-check-label" for="get">GET</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="post_option" value="POST" v-model="newRow.method">
                                  <label class="form-check-label" for="post">POST</label>


                                </div>
                                <p style="color:red" v-if="methodRequired=='true'">method不正确</p>

                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="request_params" class="col-sm-2 col-form-label">请求参数</label>
                            <div class="col-sm-10">
                                <textarea id="request_params" name="request_data"  rows="6" class="form-control" v-model="newRow.data" required></textarea>
                                <p style="color:red" v-if="errorMessage.data!='' ">{[errorMessage.data]}</p>
                            </div>


                        </div>
                        <div class="form-group row">
                            <label for="ignore_params" class="col-sm-2 col-form-label">忽略注入字段</label>
                            <div class="col-sm-10">
                                <input id="ignore_params" name="ignore_params" placeholder="输入不要检测的字段名" type="text" value="" class="form-control" v-model="newRow.ignore">
                            </div>
{#                            <P>yyyy{[newRow.ignore]}</P>#}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary"  @click="addRecord">保存</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bd-example-modal-lg" id="editMyModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">编辑参数</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form >
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="url">TEST URL</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="test_url"  placeholder="请求参数" v-model="newRow.url" required>
                                <p style="color:red" v-if="urlRequired=='true'">url不正确</p>
                                <p style="color:red" v-else-if="errorMessage.url!='' ">{[errorMessage.url]}</p>

                            </div>

{#                            {[newRow.url]}#}
                        </div>
                        <div class="form-group row">

                            <label for="method" class="col-sm-2 col-form-label">请求方法</label>
                            <div class="col-sm-10 ">
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="get_option" value="GET" v-model="newRow.method">
                                  <label class="form-check-label" for="get">GET</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="post_option" value="POST" v-model="newRow.method">
                                  <label class="form-check-label" for="post">POST</label>


                                </div>
                                <p style="color:red" v-if="methodRequired=='true'">method不正确</p>

                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="request_params" class="col-sm-2 col-form-label">请求参数</label>
                            <div class="col-sm-10">
                                <textarea id="request_params" name="request_data"  rows="6" class="form-control" v-model="newRow.data" required></textarea>
                                <p style="color:red" v-if="errorMessage.data!='' ">{[errorMessage.data]}</p>
                            </div>


                        </div>
                        <div class="form-group row">
                            <label for="ignore_params" class="col-sm-2 col-form-label">忽略注入字段</label>
                            <div class="col-sm-10">
                                <input id="ignore_params" name="ignore_params" placeholder="输入不要检测的字段名" type="text" value="" class="form-control" v-model="newRow.ignore">
                            </div>
{#                            <P>yyyy{[newRow.ignore]}</P>#}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closed">关闭</button>
                    <button type="button" class="btn btn-primary"  @click="saveRecord">保存</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row mx-auto w-100 m-2 pre-scrollable">
{#        <div class="col-12">#}
            <table class="table  table-bordered pre-scrollable">
                <thead class="thead-dark">
                <tr>
                    <th>序号</th>
                    <th>任务ID</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(record,index) in records">
                    <td>{[record.id]}</td>
                    <td>{[record.taskid]}</td>
                    <td>{[record.createtime]}</td>
                    <td>{[record.status|filterStatus]}</td>
                    <td>
                        <button type="button" class="btn btn-outline-info btn-sm" @click="actRecord(record.taskid)">运行</button>
                        <button v-if="record.status=='terminated'" type="button" class="btn btn-outline-info btn-sm" @click="getResult(record.taskid)">查看结果</button>
                        <button v-if="record.status=='terminated'" type="button" class="btn btn-outline-info btn-sm" @click="getLog(record.taskid)">查看注入日志</button>
                        <button type="button" class="btn btn-outline-info btn-sm" @click="editRecord(record.taskid)">编辑</button>

                        <button type="button" class="btn btn-outline-info btn-sm" @click="delRecord(record.taskid)">删除</button>
                    </td>

                </tr>
                </tbody>
            </table>
    </div>
    <div class="row mx-auto w-50 m-2">
        <zpagenav v-bind:page="pagination.page" v-bind:page-size="pagination.pageSize" v-bind:total="pagination.total"
        	v-bind:max-page="pagination.maxPage"  v-on:pagehandler="pageHandler">
        </zpagenav>

    </div>
</div>

{{ bootstrap.load_js() }}
{{ render_static('js', 'js/index.js') }}
{{ render_static('js', 'js/vue.min.js') }}
{{ render_static('js', 'js/zpageNav.js') }}
{{ render_static('js', 'js/axios.min.js') }}
<script>
    new Vue({
        delimiters: ['{[', ']}'],

        el:"#vueapp",
        data:{
            "records":[],
            "newRow":{
                "url":"",
                "method":"",
                "data":"",
                "ignore":""

            },
            "taskid":"",
            "urlRequired":false,
            "methodRequired":false,
            "dataRequired":false,
            "baseurl":"http://127.0.0.1:5000/autosqli/",
            "errorMessage":{
                "url":"",
                "data":""
            },
            "pagination":{
                "page":1,
                "pageSize":10,
                "total":100,
                "maxPage":9
            }
        },
        created:function () {
            this.pageHandler(1);

        },
        filters:{
          filterStatus:function (status) {
              var status_cn = "待运行";
              if (status == "not running"){
                  return status_cn;
              }else if (status == "running"){
                  status_cn = "正在运行";
              }else if (status_cn="terminated"){
                  status_cn = "运行结束";
              }

              return status_cn;

          }
        },
        methods:{
            pageHandler: function (page) {
                	//here you can do custom state update
                  this.pagination.page = page;
                  this.getRecords(page);

            },
            addRecord:function () {

                var _this = this;
                var url = _this.baseurl+'addrecord';
                if (_this.newRow.url==""){
                    _this.urlRequired='true'
                    return

                }
                if (_this.newRow.method==""){
                    _this.methodRequired='true'
                    return
                }


                axios.post(url,_this.newRow).then(function (res) {
                    var resData = res.data;
                    console.log(JSON.stringify(resData))
                    if(resData.code=='0000'){
                        alert(resData.message)
                        location.reload();
                    }else if (resData.code == '0001'){

                        _this.errorMessage.data = resData.message
                    }else if (resData.code=='0002'){
                        _this.errorMessage.url = resData.message
                    }

                })
            },
            getRecords:function (page) {
                var _this = this;
                //设置请求路径
                var url = _this.baseurl+"recordlist?page="+page;
                //发送请求：将数据返回到一个函数中

                //并且响应成功以后会执行then方法中的回调函数
                axios.get(url).then(function (result) {
                    //result 是所有返回过来的数据
                    console.log(JSON.stringify(result))

                    _this.records = result.data.records;
                    _this.pagination.page = page;
                    _this.pagination.total = result.data.tasks_num;
                    _this.pagination.maxPage = result.data.totalpage;
                })


            },
            actRecord:function (taskid) {

                alert("开始执行："+taskid);
                var _this = this;
                var url = _this.baseurl+"actrecord/"+taskid
                axios.get(url).then(function (res) {
                    var resData = res.data
                    console.log(JSON.stringify(resData))
                })
            },
            editRecord:function (taskid){
                $('#editMyModal').modal("show");
                var _this = this;
                _this.taskid = taskid;
                var url = _this.baseurl+ "getoptionlist/"+taskid;
                axios.get(url).then(function (res) {
                    var resData = res.data;
                    if (resData&&resData.success&&resData.options){
                        _this.newRow.url = resData.options.url;
                        _this.newRow.method = resData.options.method;
                        if (resData.options.method == 'POST') {
                            _this.newRow.data = resData.options.data;
                        }else{
                            if (resData.options.cookie) {
                                _this.newRow.data = JSON.stringify({"cookie":resData.options.cookie});
                            }else{
                                _this.newRow.data = ""
                            }
                        }
                        _this.newRow.ignore = resData.options.ignore;
                    }
                })
            },
            saveRecord:function(){
                var _this = this;
                var url = _this.baseurl+ "saverecord/"+_this.taskid;

                alert("保存的taksid:"+_this.taskid);

                axios.post(url,_this.newRow).then(function (res) {
                    var resData = res.data;
                    console.log(JSON.stringify(resData))
                    if(resData.code=='0000'){
                        alert(resData.message)
                        location.reload();
                    }else{
                        alert("保存失败")
                    }

                })
            },
            delRecord:function (taskid) {
                var _this = this;
                var url = _this.baseurl+"delrecord/"+taskid
                axios.get(url).then(function (res) {
                    var resData=res.data
                    if (resData.code == '0000'){

                        alert(resData.message)
                        location.reload()
                    }else if (resData.code='0001'){

                        alert(resData.message)
                    }

                })
            },
            getResult:function (taskid) {
                var _this=this;
                var url = _this.baseurl+"getresult/"+taskid;
                window.open(url)

            },
            getLog:function (taskid) {
                var _this=this;
                var url = _this.baseurl+"getlog/"+taskid;
                window.open(url)
            },
            closed:function () {
                var _this= this;
                _this.newRow={
                "url":"",
                "method":"",
                "data":"",
                "ignore":""

               }
            }
        }
    })
</script>
</body>
</html>
